.drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 385px;
    right: 0;
    height: 100%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  }
  
  .cartItem {
    margin-right: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
  
    p {
      font-size: 16px;
    }
    strong {
      font-size: 14px;
    }
    .removeBtn {
      cursor: pointer;
      opacity: .5;
      transition: .2s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  
  .cartTotalBlock {  
    ul {
      li {
        display: flex;
        margin-bottom: 20px;
      }
      div {
        flex: 1;
        border-bottom: 1px dashed #DFDFDF;    
        position: relative;
        top: -4px;
        margin: 0 5px;
    }
    }
    
   .actionGreenBtn {
      background-color: #9DD458;
      color: #fff;
      border: 0;
      border-radius: 18px;
      height: 55px;
      font-size: 16px;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      transition: .2s ease-in-out;
      position: relative;
  
      &:hover {
        background-color: lighten($color: #9dd458, $amount: 10%);
        transform: translateY(-2px);
        img {
          transform: translateX(10px);
        }
      }
      &:active {
        background-color: darken($color: #9dd458, $amount: 10%);      
      }
  
      img {
        position: absolute;
        right: 30px;
        top: 20px;    
        transition: .2s ease-in-out;        
      }
    }
  }
  
  .items {
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #e3e3e3;
    }
    overflow: auto;
    flex: 1;
  }

  .emptyCart {
    p {
      text-align: center;
      width: 280px;
    }

    .actionGreenBtn {
      width: 245px;
      margin-top: 20px;
      background-color: #9DD458;
      color: #fff;
      border: 0;
      border-radius: 18px;
      height: 55px;
      font-size: 16px;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      transition: .2s ease-in-out;
      position: relative;
  
      &:hover {
        background-color: lighten($color: #9dd458, $amount: 10%);
        transform: translateY(-2px);        
      }
      &:active {
        background-color: darken($color: #9dd458, $amount: 10%);      
      }      
    }  
  }