* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, sans-serif;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: #E7F6FF;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.removeBtn {
  cursor: pointer;
  opacity: .5;
  transition: .2s ease-in-out;
  &:hover {
    opacity: 1;
  }
 position: absolute;
 top: 10px;
 right: 15px;
}


